## macOS folder attributes file
*.DS_Store
.ipynb_checkpoints

## folder with the solved notebooks
solved_notebooks_hidden/

## output from the notebook More-about-random-forest
plotting_decision_trees.pdf
